<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- Android < 10 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Android > 10 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:name=".controllers.application.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShareApp"
        tools:targetApi="31">
        <activity
            android:name=".controllers.activities.RequestActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.activities.NotificationActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBOiZcfE_DzG4L_oibElszsTxhsRghG_d8" />

        <activity
            android:name=".controllers.activities.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".controllers.activities.ManagerPost"
            android:exported="false" />
        <activity
            android:name=".controllers.activities.UserInforPublicActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.activities.MyPostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.activities.PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.activities.UserInforUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.activities.NonFoodActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.activities.UserInforActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.activities.CreatePostActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <service android:name=".controllers.Services.BackgroundService" />
        <service android:name=".controllers.Services.NotificationService" />
    </application>

</manifest>